:root {
    --primary-color: rgb(26, 148, 255);
    --font-color: rgb(255, 66, 78);
    --black-color: #000000;
    --white-color: #ffffff;
    --test-color: rgb(56, 56, 61);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 2rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


@keyframes login {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes productShock {
    50% {
        transform: scale(1.3);
        opacity: 0.3;
    }
}

/* show input menu */


.see-more-header {
    display: flex;
    justify-content: center;
}

.show-more {
    display: block;
    cursor: pointer;
    color: var(--primary-color);
    margin: 0 0 20px 0;
}

.see-more-header-hide {
    display: flex;
    justify-content: center;
}

.hide-more {
    display: block;
    cursor: pointer;
    color: var(--primary-color);
    display: none;
    margin: 0 0 20px 0;
}

.close-history-product {
    display: block;
    font-size: 2rem;
    float: right;
}

.close-the-search-panel {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.close-the-search-panel-title {
    display: block;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    top: -35px;
    right: 10px;
}

/* login tài khoản đăng nhập đăng ký */

.document-login {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    animation: login linear 0.3s;
    display: none;
    z-index: 999999;
}

.document-login::-webkit-scrollbar {
    width: 8px;
}

.document-login::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
}

.form-document-login {
    display: flex;
    position: relative;
}

.document-login-use {
    background-color: var(--white-color);
    width: 500px;
    padding: 40px 45px 24px;
    z-index: 999;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.login-phone {
    background-color: var(--white-color);
    width: 500px;
    padding: 40px 45px 24px;
    z-index: 999;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: grid;
    display: none;
}

.login-phone-left {
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    color: var(--test-color);
}

.login-phone-or {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 20px 0;
}

.login-phone-tiki {
    font-size: 1.5rem;
    color: #242424;
}

.login-phone-input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px 0px;
    margin: 10px 0;
    outline: none;
    font-size: 2.4rem;
}

.login-phone-button {
    outline: none;
    border: 0;
    width: 100%;
    background-color: rgb(255, 66, 78);
    padding: 15px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    color: var(--white-color);
    margin: 20px 0px 10px;
    opacity: 1;
}

.login-phone-button:hover {
    opacity: 0.8;
}

.forget-password {
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.no-account {
    display: flex;
    font-size: 1.3rem;
    color: rgb(120, 120, 120);
    margin: 10px 0 0 0;
}

.no-account-item {
    margin-left: 10px;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.forgot-box {
    background-color: var(--white-color);
    width: 500px;
    padding: 40px 45px 24px;
    z-index: 999;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: grid;
    display: none;
}

.icon-left-forgot {
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    color: var(--test-color);
}

.forgot-box-title {
    font-size: 2.4rem;
    font-weight: 500;
}

.phone-email {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px 0px;
    margin: 10px 0;
    outline: none;
    font-size: 2.4rem;
}

.recover {
    outline: none;
    border: 0;
    width: 100%;
    background-color: rgb(255, 66, 78);
    padding: 15px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    color: var(--white-color);
    margin: 20px 0px 10px;
    opacity: 1;
}

.recover:hover {
    opacity: 0.8;
}

.create-login {
    background-color: var(--white-color);
    width: 500px;
    padding: 40px 45px 24px;
    z-index: 999;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: grid;
    display: none;
}

.icon-left-create {
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    color: var(--test-color);
}

.create-title {
    font-size: 2.4rem;
    font-weight: 500;
}

.please-create {
    font-size: 1.5rem;
    color: #242424;
}

.create-btn {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px 0px;
    margin: 10px 0;
    outline: none;
    font-size: 2.4rem;
}

.next-create {
    outline: none;
    border: 0;
    width: 100%;
    background-color: rgb(255, 66, 78);
    padding: 15px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    color: var(--white-color);
    margin: 20px 0px 10px;
    opacity: 1;
}

.next-create:hover {
    opacity: 0.8;
}

.document-title {
    font-weight: 500;
    font-size: 2.4rem;
    margin: 0 0 10px 0;
}

.document-selection {
    font-size: 1.5rem;
}

.document-input-phone {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid red;
    padding: 10px 0px;
    margin: 10px 0;
    outline: none;
    font-size: 2.4rem;
}

.document-continue {
    outline: none;
    border: 0;
    width: 100%;
    background-color: rgb(255, 66, 78);
    padding: 15px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    color: var(--white-color);
    margin: 20px 0px 10px;
    opacity: 1;
}

.document-continue:hover {
    opacity: 0.8;
}

.document-gmail {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 1.4rem;
    color: rgb(13, 92, 182);
    cursor: pointer;
}

.document-communication {
    text-align: center;
    font-size: 1.5rem;
    color: var(--test-color);
    margin: 50px 0 20px 0;
}

.social-network {
    display: flex;
    justify-content: center;
}

.social-network-img {
    width: 58px;
    margin: 0 10px;
    cursor: pointer;
}

.rules {
    text-align: center;
    color: var(--test-color);
    font-size: 1.2rem;
}

.rules-title {
    text-decoration: underline;
}

.document-login-content {
    width: 300px;
    background: linear-gradient(
136deg, rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);
    display: grid;
    text-align: center;
    align-items: center;
    padding: 40px 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.content-img {
    width: 100%;
    padding: 0 40px;
}

.content-title-item {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
}

.content-title-link {
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 500;
}

.document-close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 2rem;
    color: var(--white-color);
    background-color: #844343;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.container-sticky {
    position: sticky;
    top: 0px;
    z-index: 999;
}

.product-suggestions-container {
    display: none;
}

.block-active {
    display: block;
    animation: login linear 0.5s;
}

.suggestions-main-js {
    display: none;
}

.suggestions-main-js-two {
    display: none;
}

.suggestions-main-js-three {
    display: none;
}

.suggestions-main-js-deal {
    display: none;
}

.suggestions-main-js-cheap {
    display: none;
}

.suggestions-main-js-sale {
    display: none;
}

.suggestions-main-js-new {
    display: none;
}

.suggestions-main-js-trend {
    display: none;
}

.mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.mobile-right-img {
    width: 94px;
    height: 14px;
}

.mobile-center-img {
    width: 40px;
    height: 27px;
}

.header-left-notification {
    width: 26px;
    height: 26px;
}

.header-left-cart {
    width: 24px;
    height: 24px;
}

.mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-input {
    width: 85%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.4rem;
    margin: 0 12px;
}

.header-mobile {
    display: none;
}

.search-mobile {
    position: absolute;
    z-index: 9999;
    background-color: var(--white-color);
    top: 105px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow-y: auto;
}

.history-mobile-item {
    display: flex;
    justify-content: space-between;
}

.history-mobile-link {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--black-color);

}

.history-mobile-icon-img {
    width: 35px;
    height: 35px;
}

.close-mobile-search {
    font-size: 1.5rem;
    padding: 10px 20px;
}

.see-more-mobile-header {
    text-align: center;
    padding: 10px 0;
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
}

.compact-mobile-header {
    text-align: center;
    padding: 10px 0;
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    display: none;
}

.history-mobile-hide {
    display: none;
}

.history-mobile-block {
    display: block;
}

.close-box-mobile {
    text-align: center;
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    margin: 20px 0;
}

.close-box-mobile-span {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

.featured-search-block {
    display: flex;
    padding: 10px 20px;
}

.featured-search-img {
    width: 24px;
    height: 24px;
}

.featured-search-title {
    font-size: 1.3rem;
    margin: 0 8px;
}

.popular {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 12px;
}

.popular-item {
    display: flex;
    align-items: center;
    padding: 10px 0;

}

.popular-img {
    width: 42px;
    height: 42px;
    margin-right: 8px;
}

.popular-product {
    font-size: 1.3rem;
}

.category-mobile-title {
    font-size: 1.3rem;
    padding: 10px;
}

.category-mobile {
    display: flex;
    justify-content: space-around;
}

.thumb-mobile {
    display: grid;
}

.thumb-mobile-img {
    width: 175px;
    border-radius: 36%;
}

.thumb-title-mobile {
    text-align: center;
    font-size: 1.3rem;
    padding: 10px 0;
}

.menu-mobile-bars {
    font-size: 3rem;
    color: var(--white-color);
}

.overlay-mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    animation: login linear 0.2s;
    z-index: 9999;
}

.mobile__menu--box-list {
    width: 300px;
    height: 100%;
    background-color: var(--white-color);
    z-index: 99999;
    transform: translateX(-100%);
    transition: all 0.5s;
    animation: login linear 0.2s;
}

.menu-login {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: var(--primary-color);
}

.fa-user-menu {
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 50%;
    font-size: 2rem;
    color: vaR(--primary-color);
    background-color: var(--white-color);
}

.avatar-name {
    font-size: 1.2rem;
    color: var(--white-color);
}

.avatar__email {
    font-size: 1.2rem;
    color: var(--white-color);
}

.content-menu {
    margin: 10px;
}

.content-menu-item {
    padding: 20px 0;
}

.content-menu-link {
    font-size: 1.4rem;
    color: rgb(51, 51, 51);
}

.fas-icon-menu {
    padding-right: 16px;
}

.sub-head {
    color: rgb(120, 120, 120);
    font-size: 1.5rem;
    padding: 10px 20px;
}

.deal-menu-link {
    font-size: 1.4rem;
    color: rgb(51, 51, 51);
    padding: 20px;
}

.avatar-close {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 3rem;
    color: var(--white-color);
}

.login-gmail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-color);
    z-index: 999999;
    display: none;
    width: 100%;
    height: 100%;
}

.back-home-mobile {
    position: absolute;
    font-size: 2rem;
    color: var(--white-color);
    top: 15px;
    left: 15px;
}

.login-banner-img {
    width: 100%;
}

.steps-login {
    display: grid;
}

.login-banner-title {
    font-size: 2.4rem;
    margin: 10px 20px;
    font-weight: 500;
    color: #242424;
}

.login-of {
    font-size: 1.4rem;
    color: #242424;
    margin: 10px 20px;
}

.input-of-emai {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 2.4rem;
    color: #242424;
    margin: 10px 0;
}

.button-of-next {
    background-color: rgb(255, 66, 78);
    margin: 10px 20px;
    width: 95%;
    padding: 15px 0;
    outline: none;
    border: 1px solid rgb(255, 66, 78);
    border-radius: 8px;
    font-size: 1.4rem;
    color: var(--white-color);
}

.login-equal {
    text-align: center;
    margin: 20px 0;
    display: block;
    font-size: 1.4rem;
}

.login-or {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
}

.login-or-title {
    font-size: 1.4rem;
    color: rgb(120, 120, 120);
    margin-bottom: 20px;
    
}

.social-network-img {
    width: 40px;
    margin-bottom: 20px;
}

.accept {
    color: rgb(120, 120, 120);
    font-size: 1.4rem;
}